<div id="<%= dom_id animal %>">
  <p>
    <strong>Nombre:</strong>
    <%= animal.name %>
  </p>
  <p>
    <strong>Dueñoa:</strong>
    <%= animal.farmer.name %> <span>(<%= animal.farmer.id %>)</span>
  </p>

</div>
