<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= farmer.age %>
  </p>

  <%  if farmer.animals.count > 0%>
    <% farmer.animals.each do |u|%>
    <ul>
      <li><%= u.name%></li>
        <%end%>
    </ul>

  <%else%>
    <b></b>

  <%end%>
</div>
